@page
@using BleakwindBuffet.Data
@using BleakwindBuffet.Data.Entrees
@using BleakwindBuffet.Data.Drinks
@using BleakwindBuffet.Data.Sides
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 style="font-size: 45px; text-align: center; font-weight: bold; font-family: 'Calibri'">WELCOME TO BLEAKWIND BUFFET!</h1>
<br>
<p style="font-size: 22px; font-weight: 550; font-family: 'Tisa Pro Regular'">
We at Bleakwind Buffet are proud to bring you authentic fantasy
meals straight from the world of Skyrim. Shake the blood off your sword 
and sake your thirst with one of our old-fashioned sailor sodas. Hack into 
a Smokehouse Skeleton with your dagger. Or vanquish the the mighty Thalmor
Triple Burger! You’ve had a hard adventure and earned your loot, so spend
it with us!</p>


<h2 class="item-type">
<br>
ENTREES
</h2>
        @foreach(Entree entree in Menu.Entrees())
        {
                <div class="menu-item">
                    <h3 style="font-weight: bold">@entree.Name</h3>
                    <h4>Price: $@entree.Price</h4>
                    <h4>Calories: @entree.Calories</h4>
                </div>
        }

<h2 class="item-type">
<br>
DRINKS
</h2>
         @foreach(Drink drink in Menu.Drinks())
        {
            
                <div class="menu-item">
                    <h3 style="font-weight: bold">@drink.Name</h3>
                    <h4>Price: $@drink.Price</h4>
                    <h4>Calories: @drink.Calories</h4>
                </div>
        }

<h2 class="item-type">
<br>
SIDES
</h2>

    @foreach(Side side in Menu.Sides())
    {
    
        <div class="menu-item">
            <h3 style="font-weight: bold">@side.Name</h3>
            <h4>Price: $@side.Price</h4>
            <h4>Calories: @side.Calories</h4>
        </div>
    }   


<h2 class="item-type">
<br>
COMBO DETAILS
</h2>

    <h3 style="text-align: center;">
    Any entree, side, and drink can be combined
    into a Combo with a $1 discount. 
    </h3>

<h2 class="item-type">
<br>
SAILOR SODA FLAVORS
</h2>

    <h3 style="text-align: center;">
    Blackberry<br>
    Cherry<br>
    Grapefruit<br>
    Lemon<br>
    Peach<br>
    Watermelon<br>
    </h3>

    
